*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    padding: 50px 150px;
}
main{
    border: 5px solid var(--bc);
    background-color: white;
    /* padding: 20px; */
}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    padding: 20px;
    color: var(--fcolor);
}

input[type="text"]{
    outline: none;
    height: 40px;
    padding: 5px;
    font-size: 32px;
}
button{
    height: 40px;
    font-size: 32px;
}
.s{
    padding: 20px 10px;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.theme{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
input[type="radio"]{
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color: var(--rcolor);
}
:root:has(#yellow:checked){
    --rcolor:rgb(219, 251, 9);
    --fcolor:rgb(243, 160, 8);
    --bc:rgb(95, 95, 90);
}
:root:has(#red:checked){
    --rcolor:rgb(245, 8, 44);
    --fcolor:rgb(141, 5, 5);
    --bc:rgb(144, 140, 140);
}
:root:has(#green:checked){
    --rcolor:rgb(98, 210, 98);
    --fcolor:rgb(2, 63, 2);
    --bc:rgb(117, 97, 97);
}
:root:has(#blue:checked){
    --rcolor:rgb(157, 158, 246);
    --fcolor:darkblue;
    --bc:rgb(118, 115, 115);
}
:root:has(#orange:checked){
    --rcolor:rgb(249, 102, 4);
    --fcolor:rgb(246, 159, 8);
    --bc:rgb(158, 148, 148);
}
#yellow{
    border: 5px solid yellow;
}
#red{
    border: 5px solid red;
}
#green{
    border: 5px solid green;
}
#blue{
    border: 5px solid blue;
}
#orange{
    border: 5px solid orange;
}
 body{
    background-color: var(--rcolor);
 }